@using CocktailApplication.Domain
@model IEnumerable<Drink>?
@{
	ViewData["Title"] = "Search Results";
}

<h2 class="hero-name" style="color: #EE6900;">Results</h2>

<div class="row" style="height: 500px;">
    @{
        foreach (var drink in Model)
        {
            <div class="h-50 border-bottom row p-3">
                <div class="d-flex justify-content-center col-4 border-end">
                    <img class="w-50" style="border-radius: 20px;" src="@drink.DrinkThumb" />
                </div>
                <div class="row col-4 ms-2 mt-3">
                    <h5 style="font-weight: 900; color: #EE6900;">@drink.Name</h5>
                    <p class="text-muted">@drink.Category</p>
                    <p>@drink.Tags</p>
                </div>
                <div class="col-3 mt-5 text-muted">
                    <h6 style="font-weight: bold;">Ingredients</h6>
					<ul>
						<li>@drink.Ingredient1</li>
						<li>@drink.Ingredient2</li>
						<li>@drink.Ingredient3</li>
						<li>@drink.Ingredient4</li>
					</ul>
                </div>
            </div>
        }
    }
</div>